<html>
  <head>
    <title>Weather App!</title>
  </head>
  <style>
body
    {
   margin-top:100px;
   margin-left:650px;
   background-color:pink;
   color:black;
   font-family:Arial, Helvetica, sans-serif;
   font-size:30px;
    }
         </style>
  <body align="center">
    <form action="{{ url_for("index")}}" method="post">
    WELCOME TO WEATHER APP!!<br><br><br><br>
      <label>CITY NAME:</label>
      <input type="text" id="cityName"/>
      <input type="submit" value="Search"/>
      {% if error is defined and error %}
					<br><br><span class="alert alert-danger">Error: Please enter valid city name.</span></br>
				{% endif %}
      {% if data is defined and data %}
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>Country Code</th>
						<th>Coordinate</th>
						<th>temperature</th>
						<th>Pressure</th>
						<th>Humidity</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="bg-success">{{ data.sys.country }}</td>
						<td class="bg-info">{{data.coord.lon }} {{data.coord.lat}}</td>
						<td class="bg-danger">{{data.main.temp }} k</td>
						<td class="bg-warning">{{data.main.pressure}}</td>
						<td class="bg-primary">{{data.main.humidity}}</td>
					</tr>
				</tbody>
			</table>
			{% endif %}
    </form>
  </body>
</html>
